<div class="container">

  <nav aria-label="breadcrumb" style="margin-top: 30px;">
    <ol class="breadcrumb">
      <li class='breadcrumb-item'><%= link_to 'Ad Category', root_path%></li>
      <li class='breadcrumb-item'><%= link_to 'Ad Category', root_path%></li>
      <li class='breadcrumb-item'><%= link_to 'Ad Category', root_path%></li>
      <!-- <li class="breadcrumb-item active" aria-current="page">Data</li> -->
    </ol>
  </nav>


  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <% @ads.each do |ad| %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
              <a href="<%=info_url(ad)%>"><%= image_tag(ad.ad_image, class:'card-img-top', alt:"Card image cap") %></a>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-3 sidebar">
      <ul class="list-group">
        <a href="#"><li class="list-group-item">Ad category</li></a>
        <a href="#"><li class="list-group-item">Ad category</li></a>
        <a href="#"><li class="list-group-item">Ad category</li></a>
      </ul>
    </div>
  </div>
</div>
