<div class="card login-register-edit">
  <div class="card-body ad text-center">
    <h1><%= @ad.title %><h1>
    <h5><%= number_to_currency(@ad.price) %></h5>
    <br>
    <h5><%= simple_format @ad.description %></h5>
    <br>

    <%= image_tag(@ad.ad_image, class:'img-responsive') %>
    <br><br>

    <%= 'Posted by:' + ' ' + @ad.user.first_name + ' ' + @ad.user.last_name unless @ad.user.nil? %>
    <br><br>
    <%= link_to 'Back', root_path, style:'float: left;' %>

    <% if @ad.user != current_user %>
      <%= link_to 'Buy', new_checkout_path(:ad_id => @ad.id), class:'btn btn-success btn-sm', style:'float: right;' %>
    <% end %>

  </div>
</div>
