<div class="card login-register-edit">
  <div class="card-body ad text-center">
    <h1><%= @ad.title %><h1>
    <h5><%= number_to_currency(@ad.price) %></h5>
    <br>
    <h5><%= @ad.description %></h5>
    <br>

    <%= image_tag(@ad.ad_image) %>
    <br><br>

    <%= link_to 'Back', root_path, class:'btn btn-success', style:'float: right;' %>
  </div>
</div>
