<div class="card login-register-edit">
  <div class="card-body ad">


    <%= form_for(@ad, :html => {:multipart => true, role: "form"}) do |f| %>

      <% if @ad.errors.any? %>
        <% @ad.errors.full_messages.each do |error| %>
          <%= alert_generator error %>
        <% end %>
      <% end %>

      <h3> My Ad </h3>

      <hr>

      <div class="form-group">
        <div style="float: right;">
          <label class="btn btn-primary btn-sm">
            Add an Image <%= f.file_field :ad_image, accept: 'image/jpeg,image/gif,image/png', style: 'display: none;' %>
          <label>
        </div>
      </div>

      <br><br>

      <div class="form-group">
      <%= f.label :category_id %><br>
      <%= f.collection_select(:category_id, Category.all, :id, :title,
                              {
                                selected: @ad.category_id,
                                include_blank: true
                              },
                                class: 'form-control'
                              )
      %>
    </div>


    <div class="form-group">
      <%= f.label :quantity %>
      <%= f.select :quantity, options_for_select([['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5'], ['6', '6'], ['7', '7'], ['8', '8'], ['9', '9'], ['10','10'] ])  %>
    </div>


      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, class:'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :price %><br>
        <%= f.text_field :price, class:'form-control' %>
      </div>
      <div class="form-group">
        <div class="control-label">
        <%= f.label :description %><br>
      </div>
        <%= f.text_area :description, class:'form-control', rows: 10 %>
      </div>



      <div class="actions">
        <%= f.submit "Verify", class: 'btn btn-success', style:'float: right;' %>
      </div>
    <% end %>

  </div>
</div>
