<div class="card login-register-edit">
  <div class="card-body ad">
  	<%= @ad.inspect %>
    <h3>Item: <%= @ad.title %> </span></h3>
    <span>Qty: <%= @ad.quantity %></span><br>
    <span>Price: <%= number_to_currency(@ad.price) %></span><br>
    <span>Description:<%= simple_format @ad.description %></span>
    <%=image_tag(@ad.ad_image) %>
    <br><br>

    <%= link_to 'Post', toggle_status_ad_path(@ad), class:"btn btn-success", style: "float:right;" %>
  </div>
</div>
