<div class="container" style="margin-top: 30px;">
  <% if @user_ads.empty? %>
  <div class="text-center">
    <h1 style="color: white;">You have no ads created!</h1>
    <%= link_to "Click here to created a new ad", new_ad_path %>
  </div>
  <% else %>
  <div class="row mb-2">
    <% @user_ads.each do |ad| %>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <!-- <strong class="d-inline-block mb-2 text-primary">Topic</strong> -->
          <h3 class="mb-0">
            <a class="text-dark"><%= ad.title %></a>
          </h3>
          <div class="mb-1 text-muted"><%= number_to_currency(ad.price) %></div>
          <p class="card-text mb-auto"><%= simple_format ad.description %></p>
        </div>

        <%= image_tag(ad.ad_image, class:'card-img-right flex-auto d-none d-md-block', height: '200', width:'200') %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
