<div class="container home">
  <div class="row">
    <div class="col">
      <div class="page-header text-center">
        <h1 class=""> Ad Project </h1>
      </div>
      <div class="row">
        <div class="col mini-box">
          <div class="card">
            <%= image_tag "http://via.placeholder.com/175x150" %>
          </div>
        </div>
        <div class="col mini-box">
          <div class="card">
            <%= image_tag "http://via.placeholder.com/175x150" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mini-box">
          <div class="card">
            <%= image_tag "http://via.placeholder.com/175x150" %>
          </div>
        </div>
        <div class="col mini-box">
          <div class="card">
            <%= image_tag "http://via.placeholder.com/175x150" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mini-box">
          <div class="card">
            <%= image_tag "http://via.placeholder.com/175x150" %>
          </div>
        </div>
        <div class="col mini-box">
          <div class="card">
            <%= image_tag "http://via.placeholder.com/175x150" %>
          </div>
        </div>
      </div>
    </div>
    <div class-"col-md-4">
      <sidebar class="filtered-ads">
        <ul class="list-group">
          <a href="#"><li class="list-group-item">Ad category</li></a>
          <a href="#"><li class="list-group-item">Ad category</li></a>
          <a href="#"><li class="list-group-item">Ad category</li></a>
          <a href="#"><li class="list-group-item">Ad category</li></a>
          <a href="#"><li class="list-group-item">Ad category</li></a>
          <a href="#"><li class="list-group-item">Ad category</li></a>
          <a href="#"><li class="list-group-item">Ad category</li></a>
          <a href="#"><li class="list-group-item">Ad category</li></a>
        </ul>
      </sidebar>
    </div>
  </div>
</div>
