<div class="card login-register-edit">
  <div class="card-body ad text-center">
    <div class="row" style="position: relative;">
      <div class="col-md-4">
        <%= form_tag checkout_path(@ad), method: "get" do %>

        <%= image_tag(@ad.ad_image, class:'img-thumbnail') %>
        <h3><%= @ad.title %><h3>
        <h5><%= number_to_currency(@ad.price) %></h5>

        <div class="form-group">
          <%= label_tag "Quantity" %>
          <%= select_tag(:quantity, options_for_select([['1', '1 bought'], ['2', '2 bought'], ['3', '3 bought'], ['4', '4 bought'], ['5', '5 bought']]))  %><br>
        </div>

        <p><%= 'Posted by:' + ' ' + @ad.user.first_name + ' ' + @ad.user.last_name unless @ad.user.nil? %></p>

      </div>

      <div class="col-md-8">
          <div class="form-group">
            <%= label_tag 'Address' %><br>
            <%= text_field_tag 'checkout[address]' %>
          </div>

          <div class="form-group">
            <%= label_tag :city %><br>
            <%= text_field_tag 'checkout[city]' %>
          </div>

          <div class="form-group">
            <%= label :postal_code, 'Zip/Postal Code' %><br>
            <%= text_field_tag 'checkout[postal_code]' %>
          </div>

          <div class="form-group">
            <%= label_tag :state %><br>
            <%= text_field_tag 'checkout[state]' %>
          </div>

          <%= hidden_field_tag(:ad_id, @ad.id) %>
          <%= submit_tag("Search") %>

      <% end %>

      </div>
    </div>
      <br>
      <%= link_to 'Back', root_path, style:'float: left;' %>
  </div>
</div>
