<div class="card login-register-edit">
  <div class="card-body ad text-center">
    <div class="row" style="position: relative;">
      <div class="col-md-4">
        <%= form_tag  checkouts_path(@checkout), method: "post" do %>

        <div><%= image_tag(@ad.ad_image, class:'img-thumbnail') %></div>
        <h5><%= @ad.title %><h5>
        <h6><%= number_to_currency(@ad.price) %></h6>

        <div class="form-group">
          <%= label_tag "Quantity" %>
          <%= select_tag('checkout[quantity]', options_for_select([['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5']]))  %><br>
        </div>

        <p><%= @ad.quantity%> left in stock</p>
        <p><%= 'Posted by:' + ' ' + @ad.user.first_name + ' ' + @ad.user.last_name unless @ad.user.nil? %></p>

      </div>

      <div class="col-md-8">
          <div class="form-group">
            <%= label_tag 'Street' %><br>
            <%= text_field_tag 'checkout[address]' %>
          </div>

          <div class="form-group">
            <%= label_tag 'City' %><br>
            <%= text_field_tag 'checkout[city]' %>
          </div>

          <div class="form-group">
            <%= label_tag 'Zip/Postal Code' %><br>
            <%= text_field_tag 'checkout[postal_code]' %>
          </div>

          <div class="form-group">
            <%= label_tag :state %><br>
            <%= text_field_tag 'checkout[state]' %>
          </div>

          <%= hidden_field_tag(:ad_id, @ad.id) %>
          <%= submit_tag("Review your order", class:'btn btn-success', style: 'position: absolute; bottom: -50px; right: 8px;') %>

      <% end %>

      </div>
    </div>
      <br>
      <%= link_to 'Back', root_path, style:'float: left;' %>
  </div>
</div>
