<div class="card login-register-edit">
  <div class="card-body ad">
    <h3> Review your order </h3><br>

    <div class="row">
      <div class="col-md-6">
        <strong style="text-decoration: underline;">Shipping to:</strong><br>
        <%= @checkout_info.user.first_name + ' ' + @checkout_info.user.last_name %><br>
        <span><%= @checkout_info.address %> </span>
        <p><%= @checkout_info.city + ', ' + @checkout_info.state + ', ' + @checkout_info.postal_code %> </p>
      </div>
      <div class="col-md-6">
        <h6 style="text-decoration: underline;"><strong>Order Summary</strong></h6>
        <%= image_tag(@ad.ad_image, class:'img-thumbnail') %><br>
        Item: <%= @ad.title%><br>
        <span> Qty: <%= @checkout_info.quantity.to_i %> </span><br>
        <p> Order Total: <%= number_to_currency(@amount) %></p>

        <%= link_to 'Continue to checkout', new_checkout_path, class:'btn btn-success btn-sm', style:'float: right;' %>
      </div>
    </div>
  </div>
</div>
