<div class="card login-register-edit">
  <div class="card-body ad">

    <%= form_for(@address) do |f| %>

      <% if @address.errors.any? %>
        <% @address.errors.full_messages.each do |error| %>
          <%= alert_generator error %>
        <% end %>
      <% end %>

      <h3> Details Page </h3>



      <hr>

      <div class="form-group">
        <%= f.label :address %><br>
        <%= f.text_field :address, class:'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :city %><br>
        <%= f.text_field :city, class:'form-control' %>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <%= f.label :postal_code %><br>
            <%= f.text_field :postal_code, class:'form-control' %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :state %><br>
            <%= f.text_field :state, class:'form-control' %>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Continue", class: 'btn btn-success', style:'float: right;' %>
      </div>

    <% end %>

  </div>
</div>
