<!DOCTYPE html>
<html>
<head>
  <title>Ad Project</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="site-wrapper">
     <div class="site-wrapper-inner">
       <div class="cover-container">

         <div id="background"></div>
         <%= render 'shared/navbar' %>

         <!-- <p class="notice"><%= notice %></p>
         <p class="alert"><%= alert %></p> -->

         <%= yield %>
         <%= alerts %>

       </div>
     </div>
   </div>


</body>
</html>
